@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
:root {
  /* Color Spec */
  --backgroundColor: #F4F4F4;
  --backgroundColorWarm: #F5F2E9;
  --accentColor: #5C0012;
  --textColor: #333333;
  --textColorHover: #4F4F4F;
  --textColorLight: #9E9E9E;
  --gray50: #FAFAFA;
  --gray100: #F5F5F5;
  --gray200: #EEEEEE;
  --gray300: #E0E0E0;
  --gray400: #BDBDBD;
  --gray500: #9E9E9E;
  --gray600: #757575;
  --gray700: #616161;
  --gray800: #424242;
  --gray900: #212121;
  /* Interaction */
  --sidebarMenuTransitionDuration: 0.3s;
  --imageFadeInDuration: 0.3s;
  --anchorHoverDuration: 0.3s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: 0px;
  margin: 0px;
  color: var(--textColor);
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: var(--backgroundColor);
}

p, i {
  color: var(--textColorHover);
  font-size: 15px;
  line-height: 1.5rem;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}

[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

blockquote {
  font-size: 16px;
  font-weight: 400;
  color: var(--textColorHover);
  border-left: 5px solid var(--gray400);
  margin: 0;
  padding: 0;
  padding-left: 24px;
}

.btn:focus, .btn:focus:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.row, [class^='col-'] {
  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  top: 40px;
  left: 48px;
}

.logo-title {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--textColor);
  text-decoration: none !important;
}

.logo-title-light {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--textColorLight)
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50vw;
  height: 100vh;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 120px;
  bottom: 120px;
  left: 0;
  right: 0;
  padding: 0 48px
}

.menu-item {
  position: relative;
  display: inline-block;
  padding: 0;
  padding: 16px 0;
  text-decoration: none;
}

.menu-item-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--textColor);
  -webkit-transition: all var(--sidebarMenuTransitionDuration) ease-in-out;
  -moz-transition: all var(--sidebarMenuTransitionDuration) ease-in-out;
  -ms-transition: all var(--sidebarMenuTransitionDuration) ease-in-out;
  -o-transition: all var(--sidebarMenuTransitionDuration) ease-in-out;
  transition: all var(--sidebarMenuTransitionDuration) ease-in-out;
}

.menu-item-subtitle {
  font-size: 12px;
  font-weight: 400;
  color: var(--textColor);
  -webkit-transition: all var(--sidebarMenuTransitionDuration) ease-in-out;
  -moz-transition: all var(--sidebarMenuTransitionDuration) ease-in-out;
  -ms-transition: all var(--sidebarMenuTransitionDuration) ease-in-out;
  -o-transition: all var(--sidebarMenuTransitionDuration) ease-in-out;
  transition: all var(--sidebarMenuTransitionDuration) ease-in-out;
}

.menu>nav:hover .menu-item-title {
  color: var(--gray400);
}

.menu>nav:hover .menu-item-subtitle {
  color: var(--gray400);
}

.menu>nav:hover .menu-item:hover .menu-item-title {
  color: var(--textColor);
}

.menu>nav:hover .menu-item:hover .menu-item-subtitle {
  color: var(--textColor);
}

.showcase-wrapper {
  margin-left: 50vw;
  width: 50vw;
  height: 100vh;
}

.showcase {
  position: absolute;
  margin: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  height: inherit;
  background-color: var(--backgroundColorWarm);
  -webkit-animation-duration: var(--imageFadeInDuration);
  animation-duration: var(--imageFadeInDuration);
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.showcase_youbike, .showcase_diary, .showcase_vleepo {
  z-index: -1;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  z-index: 999;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.hero-intro {
  padding: 0 8vw;
}

.hero-intro-title {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: var(--textColor);
}

.hero-intro-title-muted {
  font-weight: 700;
  font-size: 32px;
  color: var(--textColorLight);
}

.hero-intro-brief {
  font-weight: 300;
  color: var(--textColorLight);
  margin-top: 30px;
}

.image-container {
  width: inherit;
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.link {
  position: relative;
  color: var(--textColor);
  font-size: 15px;
  font-weight: 300;
  text-decoration: none !important;
}

.link:hover {
  color: var(--textColor);
}

.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  transform-origin: left;
  background-color: var(--textColor);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all var(--anchorHoverDuration) ease-in-out 0s;
  transition: all var(--anchorHoverDuration) ease-in-out 0s;
}

.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 3vh 8vw;
}

.footer {
  margin: 8vh 0;
  margin-top: 10vh;
}

.footer-btns {
  display: flex;
  justify-content: left;
}

.footer-btn {
  position: relative;
  color: var(--textColorHover);
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none !important;
  margin-right: 24px;
}

.footer-btn:hover {
  color: var(--textColorHover);
}

.footer-btn:last-child {
  margin-right: 0;
}

.footer-btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  transform-origin: left;
  background-color: var(--textColorHover);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all var(--anchorHoverDuration) ease-in-out 0s;
  transition: all var(--anchorHoverDuration) ease-in-out 0s;
}

.footer-btn:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.copyright {
  color: var(--textColorLight);
  font-size: 13px;
  font-weight: 300;
line-height: 18px;
  text-align: right;
}

.project-detail-header {
  padding: 10vh 22vw;
}

.project-detail-header a {
  color: var(--textColor)
}

.project-detail-container {
  padding: 10vh 22vw;
}

.project-detail-footer {
  margin-top: 8vh;
  padding: 0 22vw;
}

.project-detail-footer #top {
  color: var(--textColor);
}

.project-detail-section {
  color: var(--textColor);
  font-weight: 700;
}

.project-detail-section-caption {
  color: var(--textColor);
  font-weight: 500;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width:991px) {
  .hero-intro-title {
    font-size: 36px;
  }
  .hero-intro-title-muted {
    font-size: 32px;
  }
  .project-detail-container, .project-detail-header {
    padding: 10vh 16vw;
  }
  .project-detail-footer {
    padding-left: 16vw;
    padding-right: 16vw;
  }
}

@media (max-width:767px) {
  .sidebar {
    width: 100vw;
  }
  #hero {
    padding-top: 25vh;
  }
  .hero-intro-title {
    font-size: 30px;
  }
  .hero-intro-title-muted {
    font-size: 24px;
  }
  .project-detail-container, .project-detail-header {
    padding: 8vh 8vw;
  }
  .project-detail-footer {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}

@media (max-width:575px) {
  .footer-btns {
    justify-content: center;
    margin-bottom: 12px;
  }
  .copyright {
    text-align: center;
  }

}
