/* Custom Fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
:root {
  /* Color Spec */
  --backgroundColor: #FAFAFA;
  --primaryTextColor: #424242;
  --primaryTextColor_hover: #757575;
  --secondaryTextColor: #9E9E9E;
  --secondaryTextColor_hover: #616161;
  --gray50: #FAFAFA;
  --gray100: #F5F5F5;
  --gray200: #EEEEEE;
  --gray300: #E0E0E0;
  --gray400: #BDBDBD;
  --gray500: #9E9E9E;
  --gray600: #757575;
  --gray700: #616161;
  --gray800: #424242;
  --gray900: #212121;
  /* Interaction */
  --btnPressedScale: 0.9;
  --linkHoverScale: 1.01;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Exo 2', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  background-color: var(--colorBackground);
}

.btn:focus, .btn:focus:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#navbar {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: sticky;
  top: 0;
  background-color: var(--backgroundColor);
}

#navbar>button {
  color: var(--primaryTextColor);
  background-color: var(--backgroundColor);
}

#navbar>button:hover {
  color: var(--primaryTextColor_hover);
}

#navbar>button:active {
  transform: scale(var(--btnPressedScale));
}

.navbar-brand {
  text-decoration: none;
  color: var(--primaryTextColor);
}

.navbar-brand:hover {
  color: var(--primaryTextColor_hover);
}

#navbarMenu a {
  font-size: 20px;
}

.sidebar-header {
  margin-bottom: 80px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  height: auto;
  margin-left: 60px;
  margin-right: 60px;
}

.sidebar>nav>a {
  font-size: 12px;
  text-decoration: none;
  margin-top: 1px;
  margin-bottom: 1px;
}

.sidebar .menu-category {
  font-weight: 300;
  color: var(--primaryTextColor);
  text-transform: uppercase;
  margin-top: 24px;
}

.sidebar .menu-category:hover {
  color: var(--primaryTextColor_hover);
  transform: scale(var(--linkHoverScale));
}

.sidebar .menu-item {
  font-weight: 100;
  color: var(--secondaryTextColor);
}

.sidebar .menu-item:hover {
  color: var(--secondaryTextColor_hover);
  transform: scale(var(--linkHoverScale));
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}

.social-icons {
  padding-left: -12px;
  margin-bottom: 8px;
}

.social-icon {
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  color: var(--secondaryTextColor);
  margin-right: 16px;
}

.social-icon:hover {
  color: var(--secondaryTextColor_hover);
}

.copyright {
  font-size: 10px;
  font-weight: 100;
  color: var(--secondaryTextColor);
  margin-bottom: 0px;
}

.hero-wrapper {
  margin-left: 0px;
  margin-right: 0px
}

@media (min-width:768px) {
  .hero-wrapper {
    margin-left: 320px;
    margin-right: 32px
  }
  .hero-wrapper, .sidebar {
    margin-top: 60px;
  }
}
